* {
    margin: 0px;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: overlay;
    color: rgb(15, 15, 15);
  }

.app_header {
    display: flex;
    justify-content: left;
    background-color: #F8F9FA;
    color: #357EBD;
    border-bottom: 1px solid  rgb(233, 223, 223);
}
  
.app_body {
    display: flex;

}
  .app_main_content{
    display: flex;
    margin-top:20px;
  }