.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
    flex: 0.2;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #357EBD;
    background-color: #F8F9FA;
    
}

.sidebar > ul {
    list-style: none;
    margin: 0px 10px;
    padding: 5px;
    display: block;
}

.list{
    text-decoration: none;
    color: #006BA1;
    display:block;
}

.list:hover{
    text-decoration: none;
    background-color: #006BA1;
    color: whitesmoke;
    display:block;
}

