.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh;
    margin-right: 10px;
    font-size: 20px;
    background-color: #F8F9FA;
    border-right: 1px solid  rgb(233, 223, 223);
    border-top:1px thin;
    
}

.sidebar_item{
    margin:0px 0px 0px 5px;
    display:flex;
    flex-grow: initial;
    align-items: center;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebar_item:hover{
    text-decoration: underline;
    background-color: #006BA1;
    flex-grow: initial;
    color: whitesmoke;
}
.sidebar_item.active > a{
    text-decoration: underline;
    color: whitesmoke ;
}

.sidebar_item > a{
    text-decoration: none;
    color: #006BA1;
    display:block;
    padding:10px;
    font-size:1.1rem;
}

.sidebar_item > a:hover{
    padding:10px;
    text-decoration: underline;
    color: whitesmoke ;
   
}

.linechart_icon{
    color: #006BA1;
}

.MuiSvgIcon-root{
    color: #006BA1;
}

.MuiSvgIcon-root:hover{
    color: whitesmoke ;
}
